.calculator {
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    background: #ddd;
}
.display {
    padding: 0 5px;
    background: #333;
    margin-bottom: 0;
    height: 40vh;
    text-align: right;
    word-break: break-all;
    display: table;
    width: calc( 100% - 10px );
}
.operation {
    font-size: 18px;
    color: #777;
    overflow: hidden;
    float: right;
    margin: 10px;
}
.operation span {
    float: left;
}
.result {
    clear: both;
    color: #fff;
    font-size: 48px;
    display: table-row;
}
.result span {
    display: table-cell;
    font-size: 100%;
}
.calculator button {
    width: calc(25% - 1px );
    background: #eee;
    color: #333;
    border: 0;
    margin: 0 1px 1px 0;
    height: 15vh;
    line-height: 19px;
    font-size: 20px;
    outline: none;
}
.calculator button.equals {
    width: calc(50% - 1px );
}
.calculator button.operation {
    background: #F69505;
    color: #fff;
}
